In [1]:
import pandas as pd
import os

In [11]:
df = pd.read_excel(r"..\data\Scats Data October 2006.xls", sheet_name="Data", header=1)

In [9]:
# Clean column names
df.columns = [str(col).strip() for col in df.columns]

# Print column names (for confirmation/debugging)
print(" Columns found:")
print(df.columns)

 Columns found:
Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Start Time',
       ...
       '21:30:00', '21:45:00', '22:00:00', '22:15:00', '22:30:00', '22:45:00',
       '23:00:00', '23:15:00', '23:30:00', '23:45:00'],
      dtype='object', length=106)

In [14]:
wrong_numbers = [970,2000,2820,3001,3002,3127,3682,3685,4057,4262,4263,4264,4272,4812]
columns_wrong_numbers = df[df['SCATS Number'].isin(wrong_numbers)].index
df_dropped = df.drop(columns_wrong_numbers)

In [15]:
df_dropped.head

<bound method NDFrame.head of       SCATS Number                     Location CD_MELWAY  NB_LATITUDE  \
237           2200  UNION_RD N of MAROONDAH_HWY   046 H08    -37.81631
238           2200  UNION_RD N of MAROONDAH_HWY   046 H08    -37.81631
239           2200  UNION_RD N of MAROONDAH_HWY   046 H08    -37.81631
240           2200  UNION_RD N of MAROONDAH_HWY   046 H08    -37.81631
241           2200  UNION_RD N of MAROONDAH_HWY   046 H08    -37.81631
...            ...                          ...       ...          ...
4187          4821  VICTORIA_ST W OF BURNLEY_ST   002HF02    -37.81296
4188          4821  VICTORIA_ST W OF BURNLEY_ST   002HF02    -37.81296
4189          4821  VICTORIA_ST W OF BURNLEY_ST   002HF02    -37.81296
4190          4821  VICTORIA_ST W OF BURNLEY_ST   002HF02    -37.81296
4191          4821  VICTORIA_ST W OF BURNLEY_ST   002HF02    -37.81296

      NB_LONGITUDE  HF VicRoads Internal  VR Internal Stat  VR Internal Loc  \
237      145.09812                 10074               198                1
238      145.09812                 10074               198                1
239      145.09812                 10074               198                1
240      145.09812                 10074               198                1
241      145.09812                 10074               198                1
...            ...                   ...               ...              ...
4187     145.00830                  6673              1513                7
4188     145.00830                  6673              1513                7
4189     145.00830                  6673              1513                7
4190     145.00830                  6673              1513                7
4191     145.00830                  6673              1513                7

      NB_TYPE_SURVEY                Date  ...  V86  V87  V88  V89  V90  V91  \
237                1 2006-10-01 00:15:00  ...   30   30   34   28   28   14
238                1 2006-10-02 00:15:00  ...   25   24   32   25   21   22
239                1 2006-10-03 00:15:00  ...   43   31   40   33   32   46
240                1 2006-10-04 00:15:00  ...   42   41   40   26   34   24
241                1 2006-10-05 00:15:00  ...   44   35   38   47   31   26
...              ...                 ...  ...  ...  ...  ...  ...  ...  ...
4187               1 2006-10-27 00:15:00  ...  122  121  127  103  122  124
4188               1 2006-10-28 00:15:00  ...   93   93   93  105  105  112
4189               1 2006-10-29 00:15:00  ...   87  118   83   76   66   64
4190               1 2006-10-30 00:15:00  ...   90   88   89   80   74   48
4191               1 2006-10-31 00:15:00  ...  123  103   93   87   74   87

      V92  V93  V94  V95
237    14   15   12    5
238    17    7    8    7
239    11   11   11    7
240    25   15    8    8
241    22   15   14    9
...   ...  ...  ...  ...
4187  117   99  108   88
4188   82   97  106  107
4189   77   60   49   45
4190   67   62   50   62
4191   75   63   51   54

[2883 rows x 106 columns]>

In [16]:
time_columns = [f'V{str(i).zfill(2)}' for i in range (96)]
time_columns

['V00',
 'V01',
 'V02',
 'V03',
 'V04',
 'V05',
 'V06',
 'V07',
 'V08',
 'V09',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95']