In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/Scats Data October 2006.csv", skiprows=[0])

In [3]:
time = [f'V{str(i).zfill(2)}' for i in range(96)]
time

['V00',
 'V01',
 'V02',
 'V03',
 'V04',
 'V05',
 'V06',
 'V07',
 'V08',
 'V09',
 'V10',
 'V11',
 'V12',
 'V13',
 'V14',
 'V15',
 'V16',
 'V17',
 'V18',
 'V19',
 'V20',
 'V21',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V36',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V42',
 'V43',
 'V44',
 'V45',
 'V46',
 'V47',
 'V48',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V64',
 'V65',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V71',
 'V72',
 'V73',
 'V74',
 'V75',
 'V76',
 'V77',
 'V78',
 'V79',
 'V80',
 'V81',
 'V82',
 'V83',
 'V84',
 'V85',
 'V86',
 'V87',
 'V88',
 'V89',
 'V90',
 'V91',
 'V92',
 'V93',
 'V94',
 'V95']

In [4]:

df_m = df.melt(
    id_vars=['SCATS Number', 'Location', 'Date'],
    value_vars=time,
    var_name='Interval',
    value_name='Volume'
)

In [5]:
df_m['Date'] = pd.to_datetime(df_m['Date']).dt.date
df_m

,SCATS Number,Location,Date,Interval,Volume
0,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-01,V00,86
1,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-02,V00,32
2,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-03,V00,26
3,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-04,V00,32
4,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-05,V00,40
...,...,...,...,...,...
402427,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-27,V95,88
402428,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-28,V95,107
402429,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-29,V95,45
402430,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-30,V95,62
402431,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-31,V95,54

In [6]:
interval_t = {
    f'V{str(i).zfill(2)}': f'{(i * 15) // 60:02d}:{(i * 15) % 60:02d}'
    for i in range(96)
}
df_m['Time'] = df_m['Interval'].map(interval_t)
df_m.head(20)

,SCATS Number,Location,Date,Interval,Volume,Time
0,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-01,V00,86,00:00
1,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-02,V00,32,00:00
2,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-03,V00,26,00:00
3,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-04,V00,32,00:00
4,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-05,V00,40,00:00
5,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-06,V00,36,00:00
6,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-07,V00,62,00:00
7,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-08,V00,116,00:00
8,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-09,V00,23,00:00
9,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-10,V00,27,00:00
10,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-11,V00,38,00:00
11,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-12,V00,28,00:00
12,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-13,V00,34,00:00
13,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-14,V00,61,00:00
14,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-15,V00,97,00:00
15,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-16,V00,18,00:00
16,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-17,V00,20,00:00
17,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-18,V00,39,00:00
18,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-19,V00,29,00:00
19,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-20,V00,50,00:00

In [7]:
df_m['DateTime'] = pd.to_datetime(df_m['Date'].astype(str) + ' ' + df_m['Time'])
df_m.head(20)

,SCATS Number,Location,Date,Interval,Volume,Time,DateTime
0,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-01,V00,86,00:00,2006-10-01
1,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-02,V00,32,00:00,2006-10-02
2,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-03,V00,26,00:00,2006-10-03
3,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-04,V00,32,00:00,2006-10-04
4,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-05,V00,40,00:00,2006-10-05
5,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-06,V00,36,00:00,2006-10-06
6,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-07,V00,62,00:00,2006-10-07
7,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-08,V00,116,00:00,2006-10-08
8,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-09,V00,23,00:00,2006-10-09
9,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-10,V00,27,00:00,2006-10-10
10,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-11,V00,38,00:00,2006-10-11
11,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-12,V00,28,00:00,2006-10-12
12,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-13,V00,34,00:00,2006-10-13
13,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-14,V00,61,00:00,2006-10-14
14,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-15,V00,97,00:00,2006-10-15
15,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-16,V00,18,00:00,2006-10-16
16,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-17,V00,20,00:00,2006-10-17
17,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-18,V00,39,00:00,2006-10-18
18,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-19,V00,29,00:00,2006-10-19
19,970,WARRIGAL_RD N of HIGH STREET_RD,2006-10-20,V00,50,00:00,2006-10-20

In [8]:
df_m['DateTime'] = pd.to_datetime(df_m['Date'].astype(str) + ' ' + df_m['Time'])
df_m.tail(20)

,SCATS Number,Location,Date,Interval,Volume,Time,DateTime
402412,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-12,V95,47,23:45,2006-10-12 23:45:00
402413,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-13,V95,98,23:45,2006-10-13 23:45:00
402414,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-14,V95,101,23:45,2006-10-14 23:45:00
402415,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-15,V95,39,23:45,2006-10-15 23:45:00
402416,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-16,V95,37,23:45,2006-10-16 23:45:00
402417,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-17,V95,46,23:45,2006-10-17 23:45:00
402418,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-18,V95,54,23:45,2006-10-18 23:45:00
402419,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-19,V95,65,23:45,2006-10-19 23:45:00
402420,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-20,V95,54,23:45,2006-10-20 23:45:00
402421,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-21,V95,120,23:45,2006-10-21 23:45:00
402422,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-22,V95,36,23:45,2006-10-22 23:45:00
402423,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-23,V95,27,23:45,2006-10-23 23:45:00
402424,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-24,V95,68,23:45,2006-10-24 23:45:00
402425,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-25,V95,52,23:45,2006-10-25 23:45:00
402426,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-26,V95,64,23:45,2006-10-26 23:45:00
402427,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-27,V95,88,23:45,2006-10-27 23:45:00
402428,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-28,V95,107,23:45,2006-10-28 23:45:00
402429,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-29,V95,45,23:45,2006-10-29 23:45:00
402430,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-30,V95,62,23:45,2006-10-30 23:45:00
402431,4821,VICTORIA_ST W OF BURNLEY_ST,2006-10-31,V95,54,23:45,2006-10-31 23:45:00

In [9]:
df_m.to_csv('../data/traffic_cleaned.csv', index=False)